@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
}

#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }